@charset "utf-8";

/*!
  Theme: Theme
  Author: kubosho_
  Description: 文章を読むことに集中できるテーマです
  Responsive: yes
 */

/* Reset */
@import "./src/reset/reset.css";
@import "./src/reset/reset-opinionated.css";

/* Global */
@import "./src/global/elements.css";
@import "./src/global/global.css";

/* Components */
@import "./src/components/organisms/blog-aside.css";
@import "./src/components/organisms/blog-footer.css";
@import "./src/components/organisms/blog-header.css";
@import "./src/components/organisms/entry-header.css";
@import "./src/components/breadcrumb.css";
@import "./src/components/button.css";
@import "./src/components/category.css";
@import "./src/components/column.css";
@import "./src/components/comment.css";
@import "./src/components/date.css";
@import "./src/components/modules.css";
@import "./src/components/pager.css";

/* Single pages */
@import "./src/pages/entry.css";
@import "./src/pages/entry-content.css";
@import "./src/pages/entry-footer.css";
@import "./src/pages/about-page.css";
@import "./src/pages/archive-page.css";
