@charset "utf-8";

/*!
  Theme: Theme
  Author: kubosho_
  Description: 文章を読むことに集中できるテーマです
  Responsive: yes
 */

@import "./src/about-page.css";
@import "./src/archive-page.css";
@import "./src/breadcrumb.css";
@import "./src/button.css";
@import "./src/category.css";
@import "./src/column.css";
@import "./src/comment.css";
@import "./src/container.css";
@import "./src/date.css";
@import "./src/elements.css";
@import "./src/entry-content.css";
@import "./src/entry-footer.css";
@import "./src/entry-header.css";
@import "./src/entry.css";
@import "./src/global.css";
@import "./src/modules.css";
@import "./src/pager.css";
