@import "./var.css";

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.5;
}

a {
  color: var(--link-color);
}

:--heading a {
  color: var(--text-color);
  text-decoration: none;
}

:--heading a:hover {
  color: var(--link-color);
}

:--heading a:active {
  outline: 1px dotted var(--link-color);
}
