@import "./var.css";

#container {
}

/* ヘッダ（グローバルヘッダ）
  グローバルヘッダの中はiframeですが、
  #globalheader-container に背景色や文字色を指定することでiframeの中にも色が反映されます。
*/
#globalheader-container {
}

/* ヘッダ画像を設定したとき */
.header-image-enable #title {
}
.header-image-enable #title,
.header-image-enable #blog-description {
}

/* content */
#content {
  width: 98vw;
  max-width: 1200px;
  margin: 0 auto;
}

#content::after {
}

.globalheader-off #container {
}

/* sidebar */
#box2 {
}
.hatena-module {
}
.hatena-module-title {
}
.hatena-module-title a {
}
.hatena-module-title a:hover {
}

/* Footer */
#footer {
}
#footer p {
}
#footer a {
}

#footer-inner {
  width: 98vw;
  max-width: 1200px;
  margin: 0 auto;
}
