@import "./var.css";

/**
 * header
 */
#blog-title {
  text-align: center;
}

#blog-title h1,
#blog-title h2 {
  margin: 0;
}

#blog-title h1 {
  padding: 2vw 0 var(--space);
  font-size: calc(var(--font-size) * 2);
}

#blog-title h2 {
  font-size: calc(var(--font-size) * 0.75);
  font-weight: normal;
}

#blog-title-inner {
  width: 98vw;
  max-width: 1200px;
  border-bottom: 1px solid var(--main-color);
  margin: 0 auto;
}

#blog-title-content {
  padding-bottom: 2vw;
}

/**
 * content
 */
#content {
  width: 98vw;
  max-width: 1200px;
  margin: 0 auto;
}

/**
 * aside
 */
@media (min-width: 768px) {
  #box2-inner {
    display: grid;
    grid-template-columns: 30% 5% 30% 5% 30%;
    grid-template-rows: 45% 10% 45%;
  }

  .hatena-module:first-child {
    grid-column: 1 / 2;
  }

  .hatena-module:nth-child(3n+2) {
    grid-column: 3 / 4;
  }

  .hatena-module:nth-child(3n+3) {
    grid-column: 5 / 6;
  }

  .hatena-module:nth-child(n+4) {
    grid-row-start: 3;
  }
}

/**
 * footer
 */
#footer {
  padding: 2vw 0;
  background-color: var(--main-color);
}

#footer a,
#footer p {
  margin: 0;
  color: var(--dbg-text-color);
}

#footer-inner {
  width: 98vw;
  max-width: 1200px;
  margin: 0 auto;
}
