/**
 * Add border box sizing in all browsers
 */
html {
  box-sizing: border-box;
}

/**
 * 1. Add box sizing inheritence in all browsers
 * 2. Remove repeating backgrounds in all browsers
 */
*,
::before,
::after {
  box-sizing: inherit; /* 1 */
  background-repeat: no-repeat; /* 2 */
}

/**
 * Prevent horizontal scroll in mobile browsers
 */
img {
  max-width: 100%;
}

/**
 * Collapse border spacing
 */
table {
  border-collapse: collapse;
}
