.comment-box {
  margin-top: 5vh;
}

.comment-box p {
  margin: 0;
}

.comment-box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.entry-comment {
  margin-top: 5vh;
}

.entry-comment:first-child {
  margin-top: 0;
}

.comment-content p {
  margin: 1vh 0;
}
