.pager {
  margin: 7vh auto;
}

@media (min-width: 768px) {
  .pager {
    display: flex;
    justify-content: center;
  }

  .pager > *:first-child {
    margin-right: 2vw;
  }

  .pager > *:only-child {
    margin: 0;
  }
}
