@import "../commons/var.css";

.pager {
  display: table;
  margin: 7vh auto;
  text-align: center;
}

.pager > * {
  display: table-cell;
  width: 50%;
  border: 1px solid var(--border-color);
  background-color: #fff;
  vertical-align: middle;
}

.pager > * a {
  display: block;
  padding: 1vw;
}

.pager > * a:hover {
  background-color: var(--bg-color);
}

.pager > *:first-child {
  border-right: 0;
}

.pager > *:only-child {
  border-right: 1px solid var(--border-color);
}
